fastapi==0.115.0
uvicorn[standard]==0.30.6
pymongo==4.9.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.9
pydantic-settings
email-validator
deep-translator
transformers
torch
sentence-transformers
chromadb
pymupdf
scikit-learn
pandas
protobuf
sentencepiece
cohere
accelerate
